<p id="notice"><%= notice %></p>

<h1>Aims</h1>

<table>
  <thead>
    <tr>
      <th>Option1</th>
      <th>Option2</th>
      <th>Option3</th>
      <th>Option4</th>
      <th>Option5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aims.each do |aim| %>
      <tr>
        <td><%= aim.option1 %></td>
        <td><%= aim.option2 %></td>
        <td><%= aim.option3 %></td>
        <td><%= aim.option4 %></td>
        <td><%= aim.option5 %></td>
        <td><%= link_to 'Show', aim %></td>
        <td><%= link_to 'Edit', edit_aim_path(aim) %></td>
        <td><%= link_to 'Destroy', aim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aim', new_aim_path %>
