<p id="notice"><%= notice %></p>

<p>
  <strong>Option1:</strong>
  <%= @aim.option1 %>
</p>

<p>
  <strong>Option2:</strong>
  <%= @aim.option2 %>
</p>

<p>
  <strong>Option3:</strong>
  <%= @aim.option3 %>
</p>

<p>
  <strong>Option4:</strong>
  <%= @aim.option4 %>
</p>

<p>
  <strong>Option5:</strong>
  <%= @aim.option5 %>
</p>

<%= link_to 'Edit', edit_aim_path(@aim) %> |
<%= link_to 'Back', aims_path %>
